<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <directory>./vendor</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="LUYA TESTS">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <const name="DB_DSN" value="mysql:host=luyaadmindb;dbname=luyaadmin" />
    <const name="DB_USER" value="luyaadmin" />
    <const name="DB_PASS" value="luyaadmin" />
  </php>
</phpunit>
