$tabs-height: 0;

.debugToolbarOpen {
    padding-bottom: 400px;

    .modal {
        bottom: 400px;
    }
}

.debug {
    background-color: $white;
    bottom: 0;
    height: 400px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: z-index(debug-toolbar);

    .row,
    div[class*="col"] {
        height: 100%;
        width: 100%;
    }

    &-toggled {
        left: 200px;
    }

    
}

.debug-tabs {
    left: 0;
    padding-left: 80px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-100%);
    border:0px;

    .nav-item:not(:first-of-type) {
        margin-left: 3px;
    }

    .nav-item {

        pointer-events: all;

        &:hover {
            color:theme-color(primary);
            border-bottom: 0px;
        }

        background-color:white;
        border:0px;

        .nav-link {

            &.active {
                color:theme-color(primary);
                border-bottom: 0px;
            }
        }
    }
}

.debug-panel {
    bottom: 0;
    left: 0;
    padding: 10px;
    position: absolute;
    right: 0;
    @include clearfix;
    overflow: auto;
    top: $tabs-height;

    &-network {
        overflow: hidden;
    }

    border-top: 1px solid map-get($grays, 100);

    .table {
        margin: 0;
    }
}

.debug-network-items,
.debug-network-detail {
    float: left;
    height: 100%;
    overflow: auto;
}

.debug-network-items {
    display: block;
    width: 100%;

    .debug-panel-network-open & {
        width: 40%;
    }
}

.debug-network-detail {
    display: none;

    .debug-panel-network-open & {
        display: block;
        padding-left: 25px;
        width: 60%;
    }
}