.inlinemodal {
    @include border-radius($border-radius-lg);

    background-color: $white;
    border: 2px solid $gray-600;
    bottom: 25px;
    box-shadow: $modal-content-box-shadow-sm-up;
    max-width: 1000px;
    position: fixed;
    top: 25px;
    width: auto;
    z-index: z-index(inlinemodal);

    .btn-icon {
        padding-left: 30px;
    }
}

.inlinemodal-arrow {
    height: 0;
    position: absolute;
    top: 0;
    width: 0;

    .inlinemodal--left & {
        // If modal is aligned left, show arrow right
        border-bottom: 15px solid transparent;
        border-left: 15px solid $gray-600;
        border-top: 15px solid transparent;
        margin-right: -1px;
        right: 0;
        transform: translateX(100%);
    }
    .inlinemodal--right & {
        // If modal is aligned right, show arrow left
        border-bottom: 15px solid transparent;
        border-right: 15px solid $gray-600;
        border-top: 15px solid transparent;
        left: 0;
        margin-left: -1px;
        transform: translateX(-100%);
    }
}

.inlinemodal-inner {
    display: block;
    height: 100%;
    overflow: hidden;
}

.inlinemodal-head {
    display: block;
    height: 55px;
    overflow: hidden;
}

.inlinemodal-content {
    height: calc(100% - 55px);
    overflow: auto;
    padding: 15px;
    position: relative;
}
