.toasts {
    max-width: 100%;
    min-width: 320px;
    position: absolute;
    z-index: z-index(modal-toast);

    @media (min-width: $mobile-nav-breakpoint) {
        min-width: 480px;
    }
}

.toasts-toast {
    bottom: 11px;
    display: block;
    left: 15px;
    position: fixed;
    transition: .25s ease-in-out transform;
    z-index: z-index(modal-toast);

    @media (min-width: $mobile-nav-breakpoint) {
        left: 218px;

        .toasts--mainnav-small & {
            left: 80px;
        }
    }

    .alert {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 0;
        margin-top: 20px;
        max-width: 800px;
        padding: 10px 15px 10px 34px;
    }

    &-icon {
        font-size: 1.4em;
        font-weight: bold;
        left: 10px;
        position: absolute;
        top: 11px;
    }
}
