.user-timeout {
    display: block;
    overflow: visible;
}

.user-timeout-timer {
    stroke-dasharray: 81px;
    transition: .25s ease-in-out stroke-dashoffset, .25s ease-in-out stroke;

    .user-timeout-critical & {
        stroke: theme-color(danger);
    }
}